{{define "header"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="theme-color" content="#000000">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Index of app</title>
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">
    <link rel="stylesheet" href="/static/style/main.css"></link>
    <script src="/static/script/marked.min.js"></script>
    <script src="/static/script/htmx.min.js"></script>
    <script src="/static/script/json-enc-custom.min.js"></script>
    <script src="/static/script/masonry.pkgd.min.js"></script>
    <script src="/static/script/common.js"></script>
</head>
{{end}}

{{define "body_start"}}
<body>
{{end}}

{{define "navbar"}}
<header class="navbar">
    <nav>
        <ul>
            {{if .User.LoggedIn}}
                <li><a href="/user/profile">{{.User.Username}}</a></li>
                <li><a href="/">Home</a></li>
                <li><a href="/qnotes">Quick Notes</a></li>
                <li><a href="/notes">Notes</a></li>
                <li><a href="#" hx-post="/api/v1/user/logout" hx-ext="json-enc-custom">Log Out</a></li>
            {{else}}
                <li><a href="/user/login">Log In</a></li>
            {{end}}
        </ul>
    </nav>
</header>
{{end}}

{{define "body_end"}}
</body>
</html>
{{end}}