{{define "header"}}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta name="theme-color" content="#000000">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>{{.}}</title>
    <link rel="stylesheet" href="/static/style/main.css"></link>
    <link rel="stylesheet" href="/static/style/prism.css"></link>
    <link rel="stylesheet" href="/static/style/prism-gruvbox-dark.css"></link>
    <script src="/static/script/mermaid.min.js"></script>
    <script src="/static/script/prism.js" data-manual></script>
    <script src="/static/script/markdown-it.min.js"></script>
    <script src="/static/script/htmx.min.js"></script>
    <script src="/static/script/json-enc-custom.min.js"></script>
    <script src="/static/script/masonry.pkgd.min.js"></script>
    <script src="/static/script/common.js"></script>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🏡</text></svg>">

</head>
{{end}}

{{define "body_start"}}
<body>
{{end}}

{{define "navbar"}}
<header class="navbar">
    <nav>
        <ul>
            {{if .User.LoggedIn}}
                <li><a href="/user/profile">{{.User.Username}}</a></li>
                <li><a href="/">Home</a></li>
                <li><a href="/qnotes">Quick Notes</a></li>
                <li><a href="/notes">Notes</a></li>
                <li><a href="#" hx-post="/api/v1/user/logout" hx-ext="json-enc-custom">Log Out</a></li>
            {{else}}
                <li><a href="/user/login">Log In</a></li>
            {{end}}
        </ul>
    </nav>
</header>
{{end}}

{{define "body_end"}}
</body>
</html>
{{end}}