{{template "header" .PageTitle}}
{{template "body_start"}}

{{template "navbar" .}}

<div class="flex-container">
    <section class="container-header">
        <div>
            <a href="/">
                <h1>Quick Note</h1>
            </a>
        </div>
    </section>
    <section class="cards-container">
        <form hx-post="/api/v1/qnotes" hx-ext="json-enc-custom">
            {{template "quick_note_form_inputs" .}}
            <button type="submit" class="button">Create</button>
        </form>
    </section>
</div>

{{template "body_end"}}