{{define "view_link_category_content"}}
    <div class="flex-container">
        <section class="container-header">
            <h1>{{.Name}} Links</h1>
        </section>
        <section class="links-container">
            {{range $index, $link := .Links}}
                <a href="{{$link.Url}}">
                    <h3>{{$link.Name}}</h3>
                    <p>{{$link.Name}}</p>
                </a>
            {{end}}
        </section>
    </div>

    <div class="flex-container">
        <section class="container-header">
            <h1>{{.Name}} Subcategories</h1>
        </section>
    </div>

    <div class="flex-container">
        <section class="container-header">
            <h1>{{.Name}} Cards</h1>
        </section>
        <section class="cards-container">
            {{range $index, $link := .Links}}
                <div class="card_wrapper">

                </div>
            {{end}}
        </section>
    </div>

    <div class="flex-container">
        <section class="container-header">
            <h1><a href="./links/edit?category_id={{.Id}}"> Edit </h1>
        </section>
    </div>
{{end}}


{{define "link_category_form_inputs"}}
    <div class="input-wrapper">
        <h2>Name:</h2>
        <input type="text" name="name" placeholder="Enter note name" value="{{.LinkCategory.Name}}" required>
    </div>
    <div class="input-wrapper">
        <h2>Links: <a href="#" class="add-link-input">+</a></h2>
    </div>
    <div class="input-wrapper">
        <h2>LinkGroups: <a href="#" class="add-link-group-input">+</a></h2>
    </div>
    
    <div id="linkInputWrapper" hidden>
        <input type="text" name="[#][name]" placeholder="Name" disabled>
        <input type="text" name="[#][url]" placeholder="URL" disabled>
        <input type="text" name="[#][badge_text]" placeholder="Badge Text" disabled>
        <input type="text" name="[#][badge_color]" placeholder="Badge Color" disabled>
        <input type="text" name="[#][badge_text_color]" placeholder="Badge Text Color" disabled>
    </div>

    <div id="linkInputGroupWrapper" hidden disabled>
        <input type="text" name="link_groups[#].name" placeholder="Name" disabled>
        <div class="input-wrapper">
            <h2>Links: <a href="#" class="add-link-input">+</a></h2>
        </div>
    </div>

    <script>
        function applyListenerToAddLinkButton(element, targetDomElement, prefix) {
            element.addEventListener('click', function (event) {
                const linkInputWrapperTemplate = document.getElementById("linkInputWrapper");
                var newLinkInputWrapper = linkInputWrapperTemplate.cloneNode(true);
                newLinkInputWrapper.hidden = false;
                newLinkInputWrapper.id = '';
                newLinkInputWrapper.className = "input-wrapper link-input-wrapper";
                var index = Array.from(targetDomElement.children).filter(child => child.classList.contains("link-input-wrapper")).length;
                const namedFields = newLinkInputWrapper.querySelectorAll('[name]');
                namedFields.forEach(element => {
                    const oldName = element.getAttribute("name");
                    element.setAttribute("name", prefix + oldName.replace("#", index));
                    element.disabled = false;
                });
                targetDomElement.appendChild(newLinkInputWrapper);
            });
        }

        function applyListenerToAddLinkGroupButton(element, targetDomElement) {
            element.addEventListener('click', function (event) {
                const linkInputGroupWrapperTemplate = document.getElementById("linkInputGroupWrapper");
                var newLinkGroupInputWrapper = linkInputGroupWrapperTemplate.cloneNode(true);
                newLinkGroupInputWrapper.hidden = false;
                newLinkGroupInputWrapper.id = '';
                newLinkGroupInputWrapper.className = "input-wrapper";
                newLinkGroupInputWrapper.querySelector("h2 a");
                var index = Array.from(targetDomElement.children).filter(child => child.classList.contains("link-input-wrapper")).length;
                const namedFields = newLinkGroupInputWrapper.querySelectorAll('[name]');
                namedFields.forEach(element => {
                    const oldName = element.getAttribute("name");
                    element.setAttribute("name", oldName.replace("#", index));
                    element.disabled = false;
                });
                const addLinkInputButtons = newLinkGroupInputWrapper.getElementsByClassName("add-link-input");
                for (let element of addLinkInputButtons) {
                    applyListenerToAddLinkButton(element, newLinkGroupInputWrapper, "link_groups[" + index + "][links]");
                }
                targetDomElement.appendChild(newLinkGroupInputWrapper);
            });
        }

        function initAddLinkButtons() {
            const addLinkInputButtons = document.getElementsByClassName("add-link-input");
            for (let element of addLinkInputButtons) {
                applyListenerToAddLinkButton(element, element.parentElement.parentElement, "links")
            }
        }

        function initAddLinkGroupButtons() {
            const addLinkGroupInputButtons = document.getElementsByClassName("add-link-group-input");
            for (let element of addLinkGroupInputButtons) {
                applyListenerToAddLinkGroupButton(element, element.parentElement.parentElement)
            }
        }

        initAddLinkButtons();
        initAddLinkGroupButtons();
    </script>
{{end}}

