{{define "view_link_category_content"}}
    <div class="flex-container">
        <section class="container-header">
            <h1>{{.Name}} Links</h1>
        </section>
        <section class="grid-container links-grid">
            {{range $index, $link := .Links}}
                <a href="{{$link.Url}}" class="grid-item" target="_blank">
                    <p><span class="badge backgroud-{{$link.BadgeColor}} text-color-{{$link.BadgeTextColor}}">{{$link.BadgeText}}</span> {{$link.Name}}</p>
                </a>
            {{end}}
        </section>
    </div>

    <div class="flex-container">
        <section class="container-header">
            <h1>{{.Name}} Cards</h1>
        </section>
        <section class="cards-container" data-masonry='{"percentPosition": true }'>
            {{range $index, $linkGroup := .LinkGroups}}
                <div class="card-wrapper">
                    <div class="card">
                        <div class="card-header">
                            <h3>{{$linkGroup.Name}}</h3>
                        </div>
                        <div class="card-body">
                            {{range $linkIndex, $link := $linkGroup.Links}}
                                <a href="{{$link.Url}}" target="_blank">
                                    <div>
                                        <span class="badge backgroud-{{$link.BadgeColor}} text-color-{{$link.BadgeTextColor}}">{{$link.BadgeText}}</span>
                                        {{$link.Name}}
                                    </div>
                                </a>
                            {{end}}
                        </div>
                    </div>
                </div>
            {{end}}
        </section>
    </div>

    <div class="flex-container">
        <section class="container-header">
            <h1>{{.Name}} Subcategories</h1>
        </section>
    </div>

    <div class="flex-container">
        <section class="container-header">
            <h1><a href="./links/edit?category_id={{.Id}}"> Edit </h1>
        </section>
    </div>

    <script>
        new Masonry(".cards-container");
    </script>
{{end}}


{{define "link_category_form_inputs"}}
    <div class="input-wrapper">
        <h2>Name:</h2>
        <input type="text" name="name" placeholder="Enter note name" value="{{.LinkCategory.Name}}" required>
    </div>
    <div class="input-wrapper links-section">
        <h2>Links: <a href="#" class="add-link-input">+</a></h2>

        {{range $index, $link := .LinkCategory.Links}}
            <div class="input-wrapper link-input-wrapper">
                <input type="text" name="links[{{$index}}][name]" value="{{$link.Name}}">
                <input type="text" name="links[{{$index}}][url]" value="{{$link.Url}}">
                <input type="text" name="links[{{$index}}][badge_text]" value="{{$link.BadgeText}}">
                <input type="text" name="links[{{$index}}][badge_color]" value="{{$link.BadgeColor}}">
                <input type="text" name="links[{{$index}}][badge_text_color]" value="{{$link.BadgeTextColor}}">
                <button class="button remove-link-button" type="button">X</button>
            </div>
        {{end}}
    </div>
    <div class="input-wrapper link-groups-section">
        <h2>LinkGroups: <a href="#" class="add-link-group-input">+</a></h2>
        {{range $groupIndex, $linkGroup := .LinkCategory.LinkGroups}}
            <div class="input-wrapper link-group-input-wrapper">
                <input type="text" name="link_groups[{{$groupIndex}}][name]" value="{{$linkGroup.Name}}">
                <button class="button remove-link-group-button" type="button">X</button>
                <div class="input-wrapper">
                    <h2>Links: <a href="#" class="add-link-input">+</a></h2>
                    {{range $index, $link := $linkGroup.Links}}
                        <div class="input-wrapper link-input-wrapper">
                            <input type="text" name="link_groups[{{$groupIndex}}][links][{{$index}}][name]" value="{{$link.Name}}">
                            <input type="text" name="link_groups[{{$groupIndex}}][links][{{$index}}][url]" value="{{$link.Url}}">
                            <input type="text" name="link_groups[{{$groupIndex}}][links][{{$index}}][badge_text]" value="{{$link.BadgeText}}">
                            <input type="text" name="link_groups[{{$groupIndex}}][links][{{$index}}][badge_color]" value="{{$link.BadgeColor}}">
                            <input type="text" name="link_groups[{{$groupIndex}}][links][{{$index}}][badge_text_color]" value="{{$link.BadgeTextColor}}">
                            <button class="button remove-link-button" type="button">X</button>
                        </div>
                    {{end}}
                </div>
            </div>
        {{end}}
    </div>
    
    <div id="linkInputWrapper" hidden>
        <input type="text" name="[#][name]" placeholder="Name" disabled>
        <input type="text" name="[#][url]" placeholder="URL" disabled>
        <input type="text" name="[#][badge_text]" placeholder="Badge Text" disabled>
        <input type="text" name="[#][badge_color]" placeholder="Badge Color" disabled>
        <input type="text" name="[#][badge_text_color]" placeholder="Badge Text Color" disabled>
        <button class="button remove-link-button" type="button">X</button>
    </div>

    <div id="linkInputGroupWrapper" hidden disabled>
        <input type="text" name="link_groups[#][name]" placeholder="Name" disabled>
        <button class="button remove-link-group-button" type="button">X</button>
        <div class="input-wrapper">
            <h2>Links: <a href="#" class="add-link-input">+</a></h2>
        </div>
    </div>

    <script>
        function rebuildLinkIndexes() {
            const linkSectionWrappers = document.querySelectorAll(".links-section .link-input-wrapper");
            for (let i = 0; i < linkSectionWrappers.length; i++) {
                const linkInputs = linkSectionWrappers[i].querySelectorAll("input");
                linkInputs.forEach(element => {
                    const oldName = element.getAttribute("name");
                    element.setAttribute("name", oldName.replace(/\[\d+\]/, `[${i}]`));
                });
            }

            const linkGroupSectionWrappers = document.querySelectorAll(".link-group-input-wrapper");
            for (let i = 0; i < linkGroupSectionWrappers.length; i++) {
                const linkGroupLinkWrappers = linkGroupSectionWrappers[i].querySelectorAll(".link-input-wrapper");
                for (let j = 0; j < linkGroupLinkWrappers.length; j++) {
                    console.log(j);
                    const linkInputs = linkGroupLinkWrappers[j].querySelectorAll("input");
                    linkInputs.forEach(element => {
                        const oldName = element.getAttribute("name");
                        element.setAttribute("name", oldName.replace(/\[\d+\]/, `[${i}]`).replace(/(\[\w+\])\[\d+\]/, `$1[${j}]`));
                    });
                }
            }
        }

        function applyListenerToAddLinkButton(element, targetDomElement, prefix) {
            element.addEventListener('click', function (event) {
                const linkInputWrapperTemplate = document.getElementById("linkInputWrapper");
                var newLinkInputWrapper = linkInputWrapperTemplate.cloneNode(true);
                newLinkInputWrapper.hidden = false;
                newLinkInputWrapper.id = '';
                newLinkInputWrapper.className = "input-wrapper link-input-wrapper";
                var index = Array.from(targetDomElement.children).filter(child => child.classList.contains("link-input-wrapper")).length;
                const namedFields = newLinkInputWrapper.querySelectorAll('[name]');
                namedFields.forEach(element => {
                    const oldName = element.getAttribute("name");
                    element.setAttribute("name", prefix + oldName.replace("#", index));
                    element.disabled = false;
                });
                const removeLinkButton = newLinkInputWrapper.querySelectorAll(".remove-link-button");
                applyListenerToRemoveLinkButton(removeLinkButton[0]);
                targetDomElement.appendChild(newLinkInputWrapper);
            });
        }

        function applyListenerToAddLinkGroupButton(element, targetDomElement) {
            element.addEventListener('click', function (event) {
                const linkInputGroupWrapperTemplate = document.getElementById("linkInputGroupWrapper");
                var newLinkGroupInputWrapper = linkInputGroupWrapperTemplate.cloneNode(true);
                newLinkGroupInputWrapper.hidden = false;
                newLinkGroupInputWrapper.id = '';
                newLinkGroupInputWrapper.className = "input-wrapper link-group-input-wrapper";
                newLinkGroupInputWrapper.querySelector("h2 a");
                var index = Array.from(targetDomElement.children).filter(child => child.classList.contains("link-group-input-wrapper")).length;
                const namedFields = newLinkGroupInputWrapper.querySelectorAll('[name]');
                namedFields.forEach(element => {
                    const oldName = element.getAttribute("name");
                    element.setAttribute("name", oldName.replace("#", index));
                    element.disabled = false;
                });
                const addLinkInputButtons = newLinkGroupInputWrapper.getElementsByClassName("add-link-input");
                for (let element of addLinkInputButtons) {
                    applyListenerToAddLinkButton(element, newLinkGroupInputWrapper, "link_groups[" + index + "][links]");
                }

                const removeLinkGroupButton = newLinkGroupInputWrapper.querySelectorAll(".remove-link-group-button");
                applyListenerToRemoveLinkGroupButton(removeLinkGroupButton[0]);
                targetDomElement.appendChild(newLinkGroupInputWrapper);
            });
        }

        function initAddLinkButtons() {
            const addLinkInputButtons = document.querySelectorAll("form > .input-wrapper > h2 > .add-link-input");
            for (let element of addLinkInputButtons) {
                applyListenerToAddLinkButton(element, element.parentElement.parentElement, "links")
            }
        }

        function initAddLinkGroupButtons() {
            const addLinkGroupInputButtons = document.getElementsByClassName("add-link-group-input");
            for (let element of addLinkGroupInputButtons) {
                applyListenerToAddLinkGroupButton(element, element.parentElement.parentElement)
            }

            const addLinkInputButtons = document.querySelectorAll("form > .input-wrapper > .input-wrapper > .input-wrapper > h2 > .add-link-input");
            var counter = 0;
            for (let element of addLinkInputButtons) {
                applyListenerToAddLinkButton(element, element.parentElement.parentElement, "link_groups[" + counter + "][links]");
                counter
            }
        }

        function applyListenerToRemoveLinkButton(element) {
            element.addEventListener('click', function(event) {
                element.parentElement.parentElement.removeChild(element.parentElement);
                rebuildLinkIndexes();
            });
        }

        function applyListenerToRemoveLinkGroupButton(element) {
            element.addEventListener('click', function(event) {
                element.parentElement.parentElement.removeChild(element.parentElement);
                rebuildLinkIndexes();
            });
        }

        function initRemoveLinkButtons() {
            const removeLinkButtons = document.querySelectorAll(".remove-link-button");
            removeLinkButtons.forEach(element => {
                applyListenerToRemoveLinkButton(element);
            });
        }

        function initRemoveLinkGroupButtons() {
            const removeLinkGroupButtons = document.querySelectorAll(".remove-link-group-button");
            removeLinkGroupButtons.forEach(element => {
                applyListenerToRemoveLinkGroupButton(element);
            });
        }

        initAddLinkButtons();
        initAddLinkGroupButtons();
        initRemoveLinkButtons();
        initRemoveLinkGroupButtons();
    </script>
{{end}}

