{{template "header"}}
{{template "body_start"}}

{{template "navbar" .}}

<div class="flex-container">
    <section class="container-header">
        <div>
            <a href="/">
                <h1>Notes</h1>
            </a>
            <a href="/notes/create">
                <h1>+</h2>
            </a>
        </div>
    </section>
    <section id="cards-container" class="cards-container" data-masonry='{"percentPosition": true }'>
        {{range $index, $note := .Notes}}
            <div class="card-wrapper">
                <div class="card">
                    <div class="card-header"><a href="notes/view?note_id={{$note.Id}}">{{$note.Name}}</a></div>
                    <div class="card-body q-note-content">
                        {{range $tagsIndex, $tag := $note.Tags}}
                            <span class="badge backgroud-dark-1 text-color-light-1">{{$tag}}</span>
                        {{end}}
                    </div>
                </div>
            </div>
        {{end}}
    </section>
</div>

{{template "body_end"}}