{{define "notes_tree"}}
    {{range $key, $value := .ChildNodes}}
        {{if gt (len $value.ChildNodes) 0}}
            <details class="tree-nav-item is-expandable">
                <summary class="tree-nav-item-title">
                    <a class="tree-nav-item-title not-expandable" href="/notes?path={{$value.Breadcrumbs}}">{{$key}}</a>
                </summary>
                {{template "notes_tree" $value}}
            </details>
        {{else}}
            <div class="tree-nav-item">
                <a class="tree-nav-item-title not-expandable" href="/notes?path={{$value.Breadcrumbs}}">{{$key}}</a>
            </div>
        {{end}}
    {{end}}
{{end}}

{{define "notes_nav"}}
    <section class="container-tree">
        <nav class="tree-nav">
            {{template "notes_tree" .Tree.Root}}
        </nav>
    </section>
{{end}}
