{{template "header"}}
{{template "body_start"}}

{{template "navbar" .}}

<div class="flex-container">
    <section class="container-header">
        <div>
            <a href="/">
                <h1>Notes</h1>
            </a>
            <a href="/notes/create">
                <h1>+</h2>
            </a>
        </div>
    </section>
    <section class="container-tree">

        <nav class="tree-nav">

            <a class="tree-nav-item-title not-expandable">
              THE INHERITANCE
            </a>
            <a class="tree-nav-item-title not-expandable">
              The Willful Princess and the Piebald Prince
            </a>
          
            <details class="tree-nav-item is-expandable">
              <summary class="tree-nav-item-title"><a href="#">The Realm of the Elderlings</a></summary>
              <details class="tree-nav-item is-expandable">
              
                <summary class="tree-nav-item-title">The Six Duchies</summary>
                <details class="tree-nav-item is-expandable">
                  <summary class="tree-nav-item-title">The Farseer Trilogy</summary>
                  <div class="tree-nav-item">
          <table style="width:100%">
            <tr>
              <th>IP Address</th>
              <th>Object Name</th> 
              <th>Domain Name</th>
              <th>Object Class</th>
              <th>Status</th>
              <th>Mac Address</th>
            </tr>
            <tr>
              <td>Jill</td>
              <td>Smith</td>
              <td>50</td>
            </tr>
            <tr>
              <td>Eve</td>
              <td>Jackson</td>
              <td>94</td>
            </tr>
            <tr>
              <td>John</td>
              <td>Doe</td>
              <td>80</td>
            </tr>
          </table>
                  </div>
                </details>
                
                <details class="tree-nav-item is-expandable">
                  <summary class="tree-nav-item-title">The Tawny Man Trilogy</summary>
                  <div class="tree-nav-item">
                    <a class="tree-nav-item-title  not-expandable">FOOL'S ERRAND</a>
                    <a class="tree-nav-item-title  not-expandable">GOLDEN FOOL</a>
                    <a class="tree-nav-item-title  not-expandable">FOOL'S FATE</a>
                  </div>
                </details>
                
                <details class="tree-nav-item is-expandable">
                  <summary class="tree-nav-item-title">The Fitz and the Fool Trilogy</summary>
                  <div class="tree-nav-item">
                    <a class="tree-nav-item-title  not-expandable">FOOL'S ASSASSIN</a>
                    <a class="tree-nav-item-title  not-expandable">FOOL'S QUEST</a>
                    <a class="tree-nav-item-title  not-expandable">Assassin's Fate</a>
                  </div>
                </details>
                
                
              </details>
            </details>
          
            <details class="tree-nav-item is-expandable">
              <summary class="tree-nav-item-title">The Soldier Son trilogy</summary>
              <div class="tree-nav-item">
                <a class="tree-nav-item-title  not-expandable">SHAMAN'S CROSSING</a>
                <a class="tree-nav-item-title not-expandable">FOREST MAGE</a>
              </div>
            </details>
          
          </nav>
    </section>
    <section id="cards-container" class="cards-container" data-masonry='{"percentPosition": true }'>
        {{range $index, $note := .Notes}}
            <div class="card-wrapper">
                <div class="card">
                    <div class="card-header"><a href="notes/view?note_id={{$note.Id}}">{{$note.Name}}</a></div>
                    <div class="card-body q-note-content">
                        {{range $tagsIndex, $tag := $note.Tags}}
                            <span class="badge backgroud-dark-1 text-color-light-1">{{$tag}}</span>
                        {{end}}
                    </div>
                </div>
            </div>
        {{end}}
    </section>
</div>

{{template "body_end"}}