{{template "header" .PageTitle}}
{{template "body_start"}}

{{template "navbar" .}}


<div class="flex-container">
    <section class="container-header">
        <div>
            <h1>
                <a href="/">{{.Note.Name}}</a>
                <a href="/notes/edit?note_id={{.Note.Id}}">✎</a>
            </h1>
        </div>
    </section>
    <section class="cards-container note-view">
        <div>
            Path:
            {{$path := ""}}
            {{range $pathPartIndex, $pathPart := .Note.Path}}
                {{if eq (len $path) 0}}
                    {{$path = $pathPart}}
                {{else}}
                    {{$path = (printf "%v,%v" $path $pathPart)}}
                {{end}}
                <span class="badge backgroud-dark-3-5 text-color-light-1"><a href="/notes?path={{$path}}">{{$pathPart}}</a></span>
            {{end}}
        </div>
        <div>
            Tags:
            {{range $tagIndex, $tag := .Note.Tags}}
                <span class="badge backgroud-dark-3-5 text-color-light-1">{{$tag}}</span>
            {{end}}
        </div>
        <div id="note-content" class="markdown-render"></div>
    </section>
</div>

<script>
    const target = document.getElementById("note-content");
    target.innerHTML = window.markdownit().render("{{.Note.Content}}");
    mermaid.initialize({
        startOnLoad: false,
        theme: "dark"
    });

    mermaid.run({
        querySelector: 'pre > .language-mermaid'
    });

    Prism.highlightAll();
</script>

{{template "body_end"}}