{{template "header"}}
{{template "body_start"}}

{{template "navbar" .}}


<div class="flex-container">
    <section class="container-header">
        <div>
            <a href="/">
                <h1>Note</h1>
            </a>
        </div>
    </section>
    <section class="cards-container">
        <form  hx-post="/api/v1/notes" hx-ext="json-enc-custom">
            <div class="input-wrapper">
                <h2>Name:</h2>
                <input type="text" name="name" placeholder="Enter note name" />
            </div>
            <div class="input-wrapper">
                <h2>Path:</h2>
                <input type="text" id="input-path-part" placeholder="Enter path part" />
                <ul id="path-parts"></ul>
            </div>
            <div class="input-wrapper">
                <h2>Tags:</h2>
                <input type="text" id="input-tag" placeholder="Enter tag name" />
                <ul id="tags"></ul>
            </div>
            <div class="input-wrapper">
                <h2>Content:</h2>
                <textarea id="content" name="content" placeholder="# Hi" rows="20"></textarea>
                <div id="content-preview"></div>
            </div>

            <button type="submit" class="button">Create</button>
        </form>
    </section>
</div>

<script>
    declareTagInputForElements("tags", "input-tag", "tags");
    declareTagInputForElements("path-parts", "input-path-part", "path");

    declareMarkdownPreview("content", "content-preview");
</script>

{{template "body_end"}}