{{template "header"}}
{{template "body_start"}}

{{template "navbar" .}}

<div class="flex-container">
    <section class="container-header">
        <div>
            <a href="/">
                <h1>Profile</h1>
            </a>
        </div>
    </section>
    <section class="cards-container">
        {{.}}

        <form action="/api/v1/notes/export" method="get">
            <button type="submit" class="button">Export notes</button>
        </form>
        <form action="/api/v1/notes/import" method="post">
            <button type="submit" class="button">Import notes for current User</button>
        </form>
    </section>
</div>

{{template "body_end"}}